
//variable for Navbar
$navbar-padding-y: 20px;
$btn-close-width: 22px;
$bs-nav-link-color: #000000;

//font
@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('../fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D/K2D-Bold.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'K2D';
    src: url('../fonts/K2D/K2D-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@import "~bootstrap/scss/bootstrap";



.first_text_main_div {
    font-family: 'K2D', sans-serif;
    font-weight: 550;
    font-size: 24px;
}


