{% extends 'base.html.twig' %}

{% block title %}404 - Page not found{% endblock %}

{% block body %}
    <div class="box">
        <h1>404</h1>
        <p>Sorry, the page you are looking for could not be found.</p>
        <a href="{{ path('home') }}" class="btn btn-primary">Go back to homepage</a>
    </div>
{% endblock %}