{% extends 'base.html.twig' %}

{% block title %}404 - Page not found{% endblock %}

{% block body %}
    <div class="box">
        <h1>404</h1>
        <p>Désolé, la page que vous recherchez est introuvable.</p>
        <a href="{{ path('home') }}" class="activites_post_cancel">Accueille</a>
    </div>
{% endblock %}