<div class="box">
    <img src="{{ asset('images/logo.png') }}" alt="">
    <h1>Bonjour, {{ user.name }}!</h1>
    <p>Pour confirmer votre email, suivez le lien ci-dessous :</p>
    <p><a href="{{ confirmationLink }}">CONFIRMER!</a></p>
</div>
